header {
  background: $colEmp;
  float: left;
  width: 100%;
}
.menu {
  float: left;
  >li {
    display: inline-block;
    &:hover, &.active {
      transition: all 0.25s;
      background: $btnActive;
    }
  }
  a {
    font-size: 13px;
    display: inline-block;
    padding: 8px 20px;
    color: $colBlanc;
  }
}

.dropdownmenu {
  position: relative;
  ul {
    position: absolute;
    left: 0;
    transition: all 0.3s ease;
    transform: scale(0);
    transform-origin: 0 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12);
    background: $colBlanc;
    li {
      display: block;
      min-width: 150px;
      width: 100%;
      a {
        color: #000;
        width: 100%;
        padding: 10px;
        display: inline-block;
        white-space: pre;
        box-sizing: border-box;
        &:hover {
          background: $colBorder;
        }
      }
    }
  }
  &:hover {
    ul {
      transform: scale(1);
      z-index: 10;
    }
  }
  &--with-search {
    border-bottom: 1px solid $colBorder;
    padding: 0 10px;
    .mdl-textfield {
      width: 100%;
      input, label {
        font-size: 14px;
      }
    }
  }
}

.blk-menu-signin {
  float: right;
  padding: 4px 20px;
  button {
    font-size: 32px;
    color: $colBlanc;
  }
}
