// Roboto regular
@font-face {
  font-family: 'robotoregular';
  src: url('../fonts/roboto-regular-webfont.eot');
  src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-regular-webfont.woff2') format('woff2'), url('../fonts/roboto-regular-webfont.woff') format('woff'), url('../fonts/roboto-regular-webfont.ttf') format('truetype'), url('../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Roboto medium
@font-face {
  font-family: 'robotomedium';
  src: url('../fonts/roboto-medium-webfont.eot');
  src: url('../fonts/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-medium-webfont.woff2') format('woff2'), url('../fonts/roboto-medium-webfont.woff') format('woff'), url('../fonts/roboto-medium-webfont.ttf') format('truetype'), url('../fonts/roboto-medium-webfont.svg#robotomedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

// montserrat bold
@font-face {
  font-family: 'montserratbold';
  src: url('../fonts/montserrat-bold-webfont.eot');
  src: url('../fonts/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'), 
  url('../fonts/montserrat-bold-webfont.woff2') format('woff2'), 
  url('../fonts/montserrat-bold-webfont.woff') format('woff'), 
  url('../fonts/montserrat-bold-webfont.ttf') format('truetype'), 
  url('../fonts/montserrat-bold-webfont.svg#montserratbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

// montserrat light
@font-face {
  font-family: 'montserratlight';
  src: url('../fonts/montserrat-light-webfont.eot');
  src: url('../fonts/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'), 
  url('../fonts/montserrat-light-webfont.woff2') format('woff2'), 
  url('../fonts/montserrat-light-webfont.woff') format('woff'), 
  url('../fonts/montserrat-light-webfont.ttf') format('truetype'), 
  url('../fonts/montserrat-light-webfont.svg#montserratlight') format('svg');
  font-weight: normal;
  font-style: normal;
}

// montserrat medium
@font-face {
  font-family: 'montserratmedium';
  src: url('../fonts/montserrat-medium-webfont.eot');
  src: url('../fonts/montserrat-medium-webfont.eot?#iefix') format('embedded-opentype'), 
  url('../fonts/montserrat-medium-webfont.woff2') format('woff2'), 
  url('../fonts/montserrat-medium-webfont.woff') format('woff'), 
  url('../fonts/montserrat-medium-webfont.ttf') format('truetype'), 
  url('../fonts/montserrat-medium-webfont.svg#montserratmedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

// montserrat regular
@font-face {
  font-family: 'montserratregular';
  src: url('../fonts/montserrat-regular-webfont.eot');
  src: url('../fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'), 
  url('../fonts/montserrat-regular-webfont.woff2') format('woff2'), 
  url('../fonts/montserrat-regular-webfont.woff') format('woff'), 
  url('../fonts/montserrat-regular-webfont.ttf') format('truetype'), 
  url('../fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?70hj83');
  src:  url('../fonts/icomoon.eot?70hj83#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?70hj83') format('truetype'),
  url('../fonts/icomoon.woff?70hj83') format('woff'),
  url('../fonts/icomoon.svg?70hj83#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-media:before {
  content: "\e909";
}
.icon-account_circle:before {
  content: "\e907";
}
.icon-person:before {
  content: "\e908";
}
.icon-theater:before {
  content: "\e906";
}
.icon-copy:before {
  content: "\e903";
}
.icon-csv:before {
  content: "\e904";
}
.icon-pdf:before {
  content: "\e905";
}
.icon-close:before {
  content: "\e902";
}
.icon-expand:before {
  content: "\e901";
}
.icon-next:before {
  content: "\e900";
}
.icon-printer:before {
  content: "\e954";
}
.icon-calendar:before {
  content: "\e953";
}
