/*Gestion Polices*/
$robotoReg : 'robotoregular', Arial, Helvetica, sans-serif;
$robotoMed : 'robotomedium', Arial, Helvetica, sans-serif;
$montserratBd : 'montserratbold', Arial, Helvetica, sans-serif;
$montserratL : 'montserratlight', Arial, Helvetica, sans-serif;
$montserratMd : 'montserratmedium', Arial, Helvetica, sans-serif;
$montserratReg : 'montserratregular', Arial, Helvetica, sans-serif;
$montserrat : 'montserrat', Arial, Helvetica, sans-serif;

/*Gestion Couleurs*/
$colMain: #2c2c2c;
$colNoir: #000000;
$colBlanc: #FFFFFF;
$colEmp: #203A45;

$light-grey: #e5e5e5;

$accent-color-1: #173042;
$accent-color-2: #236477;
$accent-color-3: #cfdfda;
$accent-color-4: #7cad3e;
$accent-color-5: #4a6c2f;

$colBtn: #337ab7;
$btnActive: #337ab7;

$colBorder: #ededed;

$colOpac7: rgba(0,0,0,0.7);
$colOpac5: rgba(0,0,0,0.5);
$colOpac2: rgba(0,0,0,0.2);
$colOpac1: rgba(0,0,0,0.1);

$colWOpac7: rgba(255,255,255,0.7);
$colWOpac5: rgba(255,255,255,0.5);
$colWOpac2: rgba(255,255,255,0.2);
$colWOpac1: rgba(255,255,255,0.1);

$fondHeader: #4b4b4b;
$fondAccordion: #ededed;
$borderAccordion: #cecece;