.layer {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,0.75);
  z-index: 999;
  padding: 25px;
  > div {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    height: calc(100vh - 50px);
    background: $colBlanc;
    position: relative;
  }
  header {
    display: inline-block;
    width: 100%;
    background: none;
    padding-bottom: 15px;
    position: absolute;
    left: 0;
    top: 0;
    .closeLayer {
      float: right;
      cursor: pointer;
      font-size: 30px;
      top: 15px;
      right: 15px;
      position: relative;
      z-index: 2;
    }
  }
}
#layerSlider {
  z-index: -10;
  opacity: 0;
  &.show {
    z-index: 999;
    opacity: 1;
  }
}