.navigation {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: #dbdbdb;
    left: 0;
    z-index: 0;
    border-right: 1px solid #bbbbbb;
  }
  > div {
    background: $colBlanc;
    position: relative;
    padding: 10px;
    z-index: 1;
    overflow: auto;
    height: calc(100vh - 45px);
  }
}
.treeview, .treeview ul {
  list-style-type: none;
  overflow: hidden;
  font-size: 13px;
}

.treeview li {
  text-indent: 1%;
  margin-top:0.2em;
  padding:0.15em 0 0.15em 1.5em;
  line-height: 22px;
  background-repeat:no-repeat;
  background-size: 24px 24px;
  color: $colNoir;
}

.treeview li.contains-items {
  background-image: url('../img/arrow-left.png');
}

.treeview li.items-expanded {
  background-image: url('../img/arrow-down.png');
}

.treeview>li:hover {
  cursor: pointer;
  background-size: 24px 24px;
}

.treeview span.has-node-icon {
  text-indent: 2%;
  margin-top:0.2em;
  padding:0.15em 0 0.5em 2.0em;
  line-height: 22px;
  background-repeat:no-repeat;
  background-size: 24px 24px;
}

.treeview span:not(span.has-node-icon):hover{
  background-color: rgba(246, 246, 246, 0.7);
}

.menu-tree-item-color {
  height: 10px;
  width: 10px;
  display: inline-block;
  background:transparent;
  border: 1px solid $colOpac1;
}

.jstree-default .jstree-anchor {
  line-height: 25px;
  height: 30px;
}
.jstree {
  font-family: $montserrat;
}