::selection {
  color: #fff;
  background-color: #00ccff;
}

::-moz-selection {
  color: #fff;
  background-color: #00ccff;
}

.col-center {
    margin: 0 auto;
    float: none !important;
}

.container-default {
    padding: 0;
    margin: 0;
}
.container.container-default {
    padding: 0;
    margin: 0;
}

.tweak-dash {
    border: 1px solid;
    width: 5%;
}

.tweak-wrapper {
    width: 100%;
}
.tweak-subtitle {
    border: 1px solid;
    display: inline-block;
    width: 5%;
}
.tweak-content {
    display: inline;
    width: 100%;
    color: red;
    font-family: serif;
    margin-left: 10px;
    font-size: 12pt;
}

.quote {
    color: grey;
    padding-left: 25px;
    border-left: 2px solid;
}

.side-menu {
    padding: 14px 0;
    .side-menu-content {
        .side-search {
            input[type=text] {
                width: 100%;
                padding: 5px;
            }
        }
    }
}

.header {
    //background: rgba(black,0.7);
    background: rgba(white,0.7);
    //background-image: url("../images/pattern/header-bg.png");
    width: 100%;
    line-height: 60px;
    position: fixed;
    z-index: 100;
    .brand {
        float: left;
        font-size: 20pt;
        font-weight: 700;
        color: red;
        vertical-align: middle;
    }
    .brand:hover {
        text-decoration: none;
        color: darkred;
     }
    .nav {
        font-size: 18px;
        font-weight: 300;
        float: right;
        vertical-align: middle;
    }
    .nav>li {
        float: left;
        a {
            color: red;
            padding: 0 10px;
        }
        a:hover {
            background: none;
            color: darkred;
        }
    }
    .nav>li.dropdown {
        position: relative;
    }
    .nav>li.dropdown ul{
        display: none;
        position: absolute;
        list-style: none;
        text-align: center;
        background: black;
        padding: 0;
        width: 100%;
        top: 35px;
        border-radius:5px; 
    }
    .nav>li.dropdown ul li{
        padding: 5px 0;
        a {
            color: red;
        }
        a:hover {
            text-decoration: none;
            color: darkred;
        }
    }
    .nav>li.dropdown:hover ul{
        display: block;
    }
}

.page-content {
    width: 100%;
    position: relative;
    .section-panel:first-child {
        padding: 0 !important;
    }
    .section-panel {
        padding: 60px 0;
    }
    .section-panel.ourservices {
        background: #f6f6f6;
    }
    .section-panel.ourworks {
        background: #fff;
    }
    .section-panel.projectsfeat {
        background: #28282e;
        color: #fff;
    }
    .section-panel.whoarewe {
        background: #f6f6f6;
    }
    .section-panel.readourminds {
        background: #fff;
    }
    .section-panel.slowlife {
        background: #28282e;
        color: #fff;
    }
    .section-panel.letstalk {
        background: #ef4035;
        color: #fff;
    }
    .section-panel.footer {
        background: #28282e;
        color: #76767b;
    }
}

.talk-title {
    //
    text-align: center;
    p {
        font-weight: 300;
        font-size: 14pt;
        margin: 0;
    }
}


.video-slideshow-title {
    font-family: serif;
    text-align: center;
    h1 {
    font-weight: 700;
    }
}
.video-slideshow-desc {
    padding: 25px 0;
    text-align: center;
    p {
        font-weight: 300;
        font-size: initial;
    }
}
.video-slideshow-wrapper {
    width: 780px;
    //height: 400px;
    overflow: hidden;
    .video-slideshow-slides {
        display: block;
        width: 6000px;
        //height: 400px;
        margin: 0;
        padding: 0;
    }
    .video-slideshow-slide {
        list-style: none;
        width: 780px;
        //height: 400px;
        float: left;
    }
    img {
        width: 100%;
    }
}
.video-slideshow-indicator {
    margin-top: 10px;
    ul {
        padding: 0;
        margin: 0;
        li {
            float: left;
            padding: 10px 10px 0 10px;
            font-size: 20pt;
        }
        li.active {
            color: #1e1e20;
        }
    }
}


.row-title {
    h1 {
    font-weight: 700;
    }
}
.row-desc {
    padding: 25px 0;
    p {
        font-weight: 300;
        font-size: initial;
    }
    .square-group-3 {
        .square-rotate {
            overflow: hidden;
            margin: 40px 0;
            height: 110px;
            width: 110px;
            background: #fff;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            transform: rotate(45deg);
            .square-rotate-content {
                margin-left: -30px;
                padding-top: 25px;
                -webkit-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                transform: rotate(-45deg);
                img {
                    margin: 0 auto;
                    margin-left: 40%;
                }
                p {
                    font-weight: bold;
                    font-size: 8pt;
                    text-align: center;
                }
            }
        }
        .square-rotate:hover, a {
            background: #28282e;
            color: #fff;
        }
        .square-rotate:first-child {
            margin: 0 !important;
            margin-left: 168px !important;
            margin-bottom: -26px !important;
        }
        .square-rotate:nth-child(2) {
            margin-top: 0 !important;
            margin-left: 84px !important;
            margin-bottom: -26px !important;
        }
        .square-rotate:nth-child(3) {
            margin: 0 !important;
        }
    }
    .square-group-3.team {
        .square-rotate-content {
            position: relative;
            img {
                width: 116%;
                margin-left: 9px;
                margin-top: -38px;
                z-index: -1;
            }
            p {
                position: absolute;
                display: none;
            }
        }
        .square-rotate-content:hover p {
            display: block;
            width: 112%;
            text-align: center;
            background: rgba(#ef4035,0.9);
            bottom: -10px;
            left: 16px;
            height: 52%;
            padding: 7px;
        }
    }
    .square-group-3:nth-child(2) {
        margin-top: -278px !important;
        margin-left: 170px !important;
    }
    .square-group-3:last-child {
        margin-top: -278px !important;
        margin-left: 340px !important;
        margin-bottom: 110px !important;
    }
}

.row-btn {
    text-align: left;
    padding: 45px 0;
    a {
        border: 2px solid #fff;
        padding: 15px 20px;
        color: #fff;
        font-weight: bold;
    }
    a:hover {
        text-decoration: none;
        color: #f6f6f6;
    }
}


.row-present-slider {
    position: relative;
    ul  {
        padding: 0;
    }
    .presention {
        position: relative;
        overflow: hidden;
        height: 385px;
        li {
            list-style: none;
            padding: 15px 0;
            -webkit-transform: translateX(12%) translateY(0);
        }
        li:first-child {
            list-style: none;
            padding: 0 !important;
        }
    }
    .slider-icon {
        position: relative;
        margin-top: 10px;
        padding: 5px 0;
        background: #000;
        li {
            margin-left: 5%;
            display: inline;
            list-style: none;
        }
    }
    .slider-indicator {
        position: absolute;
        margin-top: 10px;
        margin-top: 130px;
        top: 0;
        right: 0;
        ul {
            list-style: none;
        }
        li {
            margin-bottom: 10px;
        }
    }
}
.slider-indicator-bar {
    border: 1px solid;
    height: 24px;
    width: 2px;
}


.row-table {
    width: 100%;
}
.table-header {
    border-bottom: 2px solid #e5e5e5;
    display: flex;
    color: #999999;
    padding-bottom: 12px;
}
.table-content {
    border-bottom: 2px solid #e5e5e5;
    display: flex;
    .table-content-row {
        padding: 25px 0;
        width: 100%;
        position: relative;
        overflow: hidden;
        .table-content-title {
            position: relative;
            font-size: 12pt;
            font-weight: 300;
            color: #333333;
            z-index: 10;
        }
        
        .table-content-desc {
            padding-top: 22px;
            display: inline-block;
            p {
                color: #888888;
                font-weight: 300;
                font-size: initial;
            }
        }
    }
    .table-content-row:hover {
        background: #000;
        color: #fff;
        >.table-content-title {
            color: #fff;
        }
        .table-content-desc p {
            color: #fff;
        }
        .table-content-image {
            display: block;
            img {
                opacity: 0.6;
            }
        }
    }
    .table-content-image {
        display: none;
        position: absolute;
        top: 0;
        z-index: 1;
    }
}
.table-load-more {
    text-align: center;
    padding-top: 40px;
    font-family: serif;
    font-size: 14pt;
    a {
        color: #ef443a;
    }
    a:hover {
        text-decoration: none;
        color: #ef443a;
    }
}


.slider-container {
    position: relative;
    .pattern {
        position: absolute;
        height: 100%;
        width: 100%;
        //background: url(../assets/image/patterns/pattern.png);
        background: rgba(black ,0.3);
        background-attachment: fixed;
        top: 0;
        left: 0;
        z-index: 1;
    }
    
}
.slider {
    overflow: hidden;
    position: relative;
    background: grey;
    text-align: center;
    height: 601px;
    width: 100%;
    background: url(../images/top-bg.jpg) no-repeat;
    background-position: center;
    background-color: black;
}
.slider-content-wrapper {
    color: #fff;
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translate(-50%, -50%);
    .slider-title {
        text-align: left;
    }
    .slider-desc {
        text-align: left;
        font-size: initial;
        //font-size: 12px;
        padding: 15px 0;
    }
    .slider-btn {
        text-align: left;
        padding-top: 45px;
        a {
            border: 2px solid #fff;
            padding: 15px 20px;
            color: #fff;
            font-weight: bold;
        }
        a:hover {
            text-decoration: none;
        }
    }
}




.article-container {
    position: relative;
    .pattern {
        position: absolute;
        height: 100%;
        width: 100%;
        //background: url(../assets/image/patterns/pattern.png);
        background: rgba(black ,0.3);
        background-attachment: fixed;
        top: 0;
        left: 0;
        z-index: 1;
    }
    .article-cover {
        position: absolute;
        top: 0;
        z-index: 0;
        overflow: hidden;
        height: auto;
        width: 100%;
        img {
            width: 100%;
        }
    }
}
.article {
    overflow: hidden;
    position: relative;
    background: grey;
    text-align: center;
    height: 500px;
    width: 100%;
    background: url(../images/articlecover/cover1.jpg) no-repeat;
    background-position: center;
    background-color: black;
}
.article-content-wrapper {
    color: #fff;
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translate(-50%, -50%);
    .article-title {
        text-align: center;
    }
    .article-desc {
        text-align: center;
        font-size: initial;
        //font-size: 12px;
        padding: 15px 0;
    }
    .article-btn {
        text-align: center;
        padding-top: 45px;
        a {
            border: 2px solid #fff;
            padding: 15px 20px;
            color: #fff;
            font-weight: bold;
        }
        a:hover {
            text-decoration: none;
        }
    }
}
