/*Gestion Mixins*/
@mixin transition($duration) {
  -webkit-transition: all ease-in-out $duration;
  -moz-transition: all ease-in-out $duration;
  -ms-transition: all ease-in-out $duration;
  -o-transition: all ease-in-out $duration;
  transition: all ease-in-out $duration;
}
@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
}
@mixin rotate($deg) {
  transform: rotate($deg);
  -webkit-transform: rotate($deg);
  -moz-transform: rotate($deg);
  -ms-transform: rotate($deg);
  -o-transform: rotate($deg);
}