::selection {
  color: #fff;
  background-color: #28282e; }

::-moz-selection {
  color: #fff;
  background-color: #28282e; }

.tweak-dash {
  border: 1px solid;
  width: 5%; }

.tweak-wrapper {
  width: 100%; }

.tweak-subtitle {
  border: 1px solid;
  display: inline-block;
  width: 5%; }

.tweak-content {
  display: inline;
  width: 100%;
  color: red;
  font-family: serif;
  margin-left: 10px;
  font-size: 12pt; }

.header {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  line-height: 60px;
  position: fixed;
  z-index: 100; }
  .header .brand {
    float: left;
    font-size: 20pt;
    font-weight: 700;
    color: red;
    vertical-align: middle; }
  .header .brand:hover {
    text-decoration: none;
    color: darkred; }
  .header .nav {
    font-size: 18px;
    font-weight: 300;
    float: right;
    vertical-align: middle; }
  .header .nav > li {
    float: left; }
    .header .nav > li a {
      color: red;
      padding: 0 10px; }
    .header .nav > li a:hover {
      background: none;
      color: darkred; }
  .header .nav > li.dropdown {
    position: relative; }
  .header .nav > li.dropdown ul {
    display: none;
    position: absolute;
    list-style: none;
    text-align: center;
    background: black;
    padding: 0;
    width: 100%;
    top: 35px;
    border-radius: 5px; }
  .header .nav > li.dropdown ul li {
    padding: 5px 0; }
    .header .nav > li.dropdown ul li a {
      color: red; }
    .header .nav > li.dropdown ul li a:hover {
      text-decoration: none;
      color: darkred; }
  .header .nav > li.dropdown:hover ul {
    display: block; }

.page-content {
  width: 100%;
  position: relative; }
  .page-content .section-panel:first-child {
    padding: 0 !important; }
  .page-content .section-panel {
    padding: 60px 0; }
  .page-content .section-panel.ourservices {
    background: #f6f6f6; }
  .page-content .section-panel.ourworks {
    background: #fff; }
  .page-content .section-panel.whoarewe {
    background: #f6f6f6; }

.row-title h1 {
  font-weight: 700; }

.row-desc {
  padding: 25px 0; }
  .row-desc p {
    font-weight: 300;
    font-size: initial; }
  .row-desc .square-group-3 .square-rotate {
    overflow: hidden;
    margin: 40px 0;
    height: 110px;
    width: 110px;
    background: #fff;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg); }
    .row-desc .square-group-3 .square-rotate .square-rotate-content {
      margin-left: -30px;
      padding-top: 25px;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      transform: rotate(-45deg); }
      .row-desc .square-group-3 .square-rotate .square-rotate-content img {
        margin: 0 auto;
        margin-left: 40%; }
      .row-desc .square-group-3 .square-rotate .square-rotate-content p {
        font-weight: bold;
        font-size: 8pt;
        text-align: center; }
  .row-desc .square-group-3 .square-rotate:hover, .row-desc .square-group-3 a {
    background: #28282e;
    color: #fff; }
  .row-desc .square-group-3 .square-rotate:first-child {
    margin: 0 !important;
    margin-left: 168px !important;
    margin-bottom: -26px !important; }
  .row-desc .square-group-3 .square-rotate:nth-child(2) {
    margin-top: 0 !important;
    margin-left: 84px !important;
    margin-bottom: -26px !important; }
  .row-desc .square-group-3 .square-rotate:nth-child(3) {
    margin: 0 !important; }
  .row-desc .square-group-3.team .square-rotate-content {
    position: relative; }
    .row-desc .square-group-3.team .square-rotate-content img {
      width: 116%;
      margin-left: 9px;
      margin-top: -38px;
      z-index: -1; }
    .row-desc .square-group-3.team .square-rotate-content p {
      position: absolute;
      display: none; }
  .row-desc .square-group-3.team .square-rotate-content:hover p {
    display: block;
    width: 112%;
    text-align: center;
    background: rgba(239, 64, 53, 0.9);
    bottom: -10px;
    left: 16px;
    height: 52%;
    padding: 7px; }
  .row-desc .square-group-3:nth-child(2) {
    margin-top: -278px !important;
    margin-left: 170px !important; }
  .row-desc .square-group-3:last-child {
    margin-top: -278px !important;
    margin-left: 340px !important;
    margin-bottom: 110px !important; }

.slider-container {
  position: relative; }
  .slider-container .pattern {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    background-attachment: fixed;
    top: 0;
    left: 0;
    z-index: 1; }

.slider {
  overflow: hidden;
  position: relative;
  background: grey;
  text-align: center;
  height: 601px;
  width: 100%;
  background: url(../images/top-bg.jpg) no-repeat;
  background-position: center;
  background-color: black; }

.slider-content-wrapper {
  color: #fff;
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translate(-50%, -50%); }
  .slider-content-wrapper .slider-title {
    text-align: left; }
  .slider-content-wrapper .slider-desc {
    text-align: left;
    font-size: initial;
    padding: 15px 0; }
  .slider-content-wrapper .slider-btn {
    text-align: left;
    padding-top: 45px; }
    .slider-content-wrapper .slider-btn a {
      border: 2px solid #fff;
      padding: 15px 20px;
      color: #fff;
      font-weight: bold; }
    .slider-content-wrapper .slider-btn a:hover {
      text-decoration: none; }

/*# sourceMappingURL=stylesheet.css.map */
