#accordion {
  background: $fondAccordion;
  float: left;
  width: 100%;
  border: 1px solid $borderAccordion;
  border-top: none;
  border-bottom: none;
  > a {
    font-family: $montserratBd;
    font-size: 1rem;
    float: left;
    width: 100%;
    padding: 12px 10px 5px 10px;
    position: relative;
    /*background-image: -webkit-linear-gradient(white,#ededed);
    background-image: -moz-linear-gradient(white,#ededed);
    background-image: -o-linear-gradient(white,#ededed);
    background-image: -ms-linear-gradient(white,#ededed);
    background-image:linear-gradient(white,#ededed);*/
    background: #ededed;
    border-bottom: 1px solid $borderAccordion;
    min-height: 45px;
    &.first {
      border-top: 1px solid $borderAccordion;
    }
    &:after {
      font-family: 'icomoon' !important;
      content: '\e900';
      position: absolute;
      right:  10px;
      top: 10px;
      font-size: 16px;
      @include rotate(90deg);
      font-weight: bold;
    }
    &.active {
      &:after {
        @include rotate(-90deg);
      }
    }
  }
  > div {
    float: left;
    width: 100%;
    padding: 10px;
    background: $colBlanc;
    border-bottom: 1px solid $borderAccordion;
    height: calc(100vh - (45px * 3));
  }
}