<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Ecologue</title>
  <meta name="description" content="meta desc">
  <link rel="stylesheet"href="css/material.css">
  <link rel="stylesheet" href="https://unpkg.com/vue-multiselect@2.1.0/dist/vue-multiselect.min.css">
  <link rel="stylesheet"href="css/mdl-selectfield.min.css">
  <link rel="stylesheet"href="js/datatable/datatables.css">
	<link rel="stylesheet" href="css/jstree/default/style.min.css" />
  <link rel="stylesheet"href="css/screen.css">
  <link rel="stylesheet"href="js/datatable/jquery-ui/jquery-ui.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <script src="js/common.js"></script>
</head>

<body>
<!-- <div class="mdl-layout__container"> -->
<div class="mdl-layout__container mdl-js-layout">


  <div class="mdl-grid mdl-grid--no-spacing">
    <div class="mdl-cell mdl-cell--12-col">
      <header>
        <ul class="menu">
          <li class="dropdownmenu">
            <a href="#">
              Affaire
            </a>
            <ul>
              <li class="dropdownmenu--with-search js-dropdownmenu-ajaxsearch">
                <form action="#">
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label js-dropdownmenu-searchfield">
                    <input class="mdl-textfield__input" type="text" id="searchaffaire" autocomplete="off">
                    <label class="mdl-textfield__label" for="searchaffaire">search affaire...</label>
                  </div>
                </form>
              </li>
              <li><a class="js-dropdownmenu-ajaxitem" href="#">Affaire 1</a></li>
              <li><a class="js-dropdownmenu-ajaxitem" href="#">Affaire 2</a></li>
              <li><a class="js-dropdownmenu-ajaxitem" href="#">Affaire 3</a></li>
              <li><a class="js-dropdownmenu-ajaxitem" href="#">Affaire 4</a></li>
              <li><a class="js-dropdownmenu-ajaxitem" href="#">Affaire 5</a></li>
            </ul>
          </li>
          <li class="dropdownmenu">
            <a href="#">
              Session
            </a>
            <ul>
              <li><a href="#">Session 1</a></li>
              <li><a href="#">Session 2</a></li>
              <li><a href="#">Session 3</a></li>
              <li><a href="#">Session 4</a></li>
              <li><a href="#">Session 5</a></li>
            </ul>
          </li>
          <li>
            <a href="#">
              Mode
            </a>
          </li>
          <li class="dropdownmenu">
            <a href="#">
              Donnees
            </a>
            <ul>
              <li><a href="#">Recherche</a></li>
              <li><a href="#">Requetes</a></li>
              <li><a href="#">Preparation</a></li>
              <li><a href="#">Recuperation</a></li>
              <li><a href="#">Fiche informatives</a></li>
              <li><a href="#">Inport extern</a></li>
            </ul>
          </li>
          <li>
            <a href="#">
              Valorisation
            </a>
          </li>
          <li>
            <a href="#">
              Administration
            </a>
          </li>
        </ul>
        <!-- Right aligned menu below button -->
        <div class="blk-menu-signin">
          <button id="login-menu-actions"
          class="mdl-button mdl-js-button mdl-button--icon">
            <i class="icon-account_circle"></i>
          </button>
          <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
          for="login-menu-actions">
            <li class="mdl-menu__item">Account</li>
            <li class="mdl-menu__item">Settings</li>
            <li class="mdl-menu__item">Logout</li>
          </ul>
        </div>
        
      </header>
    </div>
  </div>
  <div class="mdl-grid mdl-grid--no-spacing">
    <div class="mdl-cell mdl-cell--2-col navigation hidden">
      <div>
        
      <div>
        <a class="js-menu-tree-checkall">Check all</a>
        <a class="js-menu-tree-uncheckall">Uncheck all</a>
      </div>
      <div class="js-menu-tree">
          <ul>
              <li data-jstree='{ "opened" : true }'>IPA <span data-color-item="#fff" class="js-menu-color-item menu-tree-item-color"></span>
                <ul>
                  <li data-jstree='{ "opened" : true }'>IPA 1 <span data-color-item="#00FFFF" class="js-menu-color-item menu-tree-item-color"></span>
                    <ul>
                        <li data-jstree='{ "selected" : true }'>Espece A (8) <span data-color-item="#000" class="js-menu-color-item menu-tree-item-color"></span></li>
                        <li>Espece B (2) <span data-color-item="#DCDCDC" class="js-menu-color-item menu-tree-item-color"></span></li>
                        <li>Espece C [?] (1) <span data-color-item="#000" class="js-menu-color-item menu-tree-item-color"></span></li>
                    </ul>
                  </li>
                  <li>IPA 2 <span data-color-item="#00FFFF" class="js-menu-color-item menu-tree-item-color"></span>
                      <ul>
                        <li>Espece D (8) <span data-color-item="#000" class="js-menu-color-item menu-tree-item-color"></span></li>
                        <li>Espece E (2) <span data-color-item="#DCDCDC" class="js-menu-color-item menu-tree-item-color"></span></li>
                        <li>Espece F [?] (1) <span data-color-item="#000" class="js-menu-color-item menu-tree-item-color"></span></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li>Rhopalo <span data-color-item="#00ccff" class="js-menu-color-item menu-tree-item-color"></span>
                <ul>
                    <li>Rhopalo 1 <span data-color-item="#00ccff" class="js-menu-color-item menu-tree-item-color"></span>
                      <ul>
                          <li>Espece G (6) <span data-color-item="#000" class="js-menu-color-item menu-tree-item-color"></span></li>
                          <li>Espece H (1) <span data-color-item="#fff" class="js-menu-color-item menu-tree-item-color"></span></li>
                          <li>Espece I (4) <span data-color-item="#00ccff" class="js-menu-color-item menu-tree-item-color"></span></li>
                      </ul>
                    </li>
                    <li>Rhopalo 2 <span data-color-item="#00ccff" class="js-menu-color-item menu-tree-item-color"></span>
                      <ul>
                          <li>Espece J (6) <span data-color-item="#FF000" class="js-menu-color-item menu-tree-item-color"></span></li>
                          <li>Espece K (1) <span data-color-item="#FFF000" class="js-menu-color-item menu-tree-item-color"></span></li>
                          <li>Espece L (4) <span data-color-item="#00FFFF" class="js-menu-color-item menu-tree-item-color"></span></li>
                      </ul>
                    </li>
                </ul>
              </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--12-col mainContent">
      <div class="mdl-grid mdl-grid--no-spacing">
        <div class="mdl-cell mdl-cell--12-col blockMain">
        <div class="mdl-grid mdl-grid--no-spacing">
        <div id="vue-comp" class="mdl-cell mdl-cell--12-col sidebar">
          <!-- <div class="screenMode">
              <span>
                <em>Normal</em>
                <em>Elargir</em>
              </span>
          </div> -->
            
          <div class="blk-filterbar-breadcrum js-filterbar-breadcrum js-toogle-filter">
                <ul>
                  <li class="blk-filterbar-breadcrum--item js-breadcrum-item dropdownmenu" data-breadcrum-item="affaire">Affaire <i class="arrow-border right"></i><div></div>
  									<ul>
                      <li><a href="#">Affaire 1</a></li>
                      <li><a href="#">Affaire 2</a></li>
  									</ul>
  								</li>
                  <li class="blk-filterbar-breadcrum--item js-breadcrum-item dropdownmenu" data-breadcrum-item="session">Session <i class="arrow-border right"></i><div></div>
  									<ul>
                      <li><a href="#">Affaire 1 / session 1 </a></li>
                      <li><a href="#">Affaire 1 / session 2 </a></li>
                      <li><a href="#">Affaire 2 / session 2 </a></li>
  									</ul>
  								</li>
                  <li class="blk-filterbar-breadcrum--item js-breadcrum-item dropdownmenu" data-breadcrum-item="niveau-1">Niveau 1 <i class="arrow-border right"></i><div></div>
  									<ul>
                      <li><a href="#">Faune</a></li>
  									</ul>
  								</li>
                  <li class="blk-filterbar-breadcrum--item js-breadcrum-item dropdownmenu" data-breadcrum-item="niveau-2">Niveau 2 <i class="arrow-border right"></i><div></div>
  									<ul>
                      <li><a href="#">Reptile</a></li>
  									</ul>
                  </li>
                  <li class="blk-filterbar-breadcrum--item js-breadcrum-item dropdownmenu" data-breadcrum-item="niveau-3">
                  	Niveau 3 <i class="arrow-border right"></i>
  									<ul>
  			              <li><a href="#">IPA</a></li>
  			              <li><a href="#">Chiro</a></li>
  			            </ul>
                  </li>
                </ul>
          </div>

          <div class="blk-filterbar js-blk-filterbar">
                <div class="blk-filterbar-chip">

                  <multiselect class="custom-vue-select" placeholder="Affaire" v-model="valueAffair" :options="optionsAffaire" :multiple="true" :clear-on-select="false" :hide-selected="true" :preserve-search="true" ></multiselect>

                  <multiselect class="custom-vue-select" placeholder="Session" v-model="valueSession" :options="optionsSession" :multiple="true" :clear-on-select="false" :hide-selected="true" :preserve-search="true" ></multiselect>
              
                  <!-- <div class="mdl-custom-selectfield js-mdl-custom-selectfield js-breadcrum-target" data-breadcrum-target="affaire">
                    <div class="mdl-custom-selectfield--value js-mdl-custom-selectfield-value"></div>
                    <div class="mdl-custom-selectfield--label js-mdl-custom-selectfield-label">Sélectionner des affaire</div>
                    <ul class="mdl-list mdl-custom-selectfield--list js-mdl-custom-selectfield-list mdl-shadow--2dp hidden">


                      <li class="mdl-list__item mdl-list__item--with-search">
                        <form action="#">
                          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label js-dropdownmenu-searchfield">
                            <input class="mdl-textfield__input" type="text" id="searchaffaire-2" autocomplete="off">
                            <label class="mdl-textfield__label" for="searchaffaire-2">search affaire...</label>
                          </div>
                        </form>
                      </li>

                      <li class="mdl-list__item">
                        <span class="mdl-list__item-primary-content">
                          Affaire 1
                        </span>
                        <span class="mdl-list__item-secondary-action">
                          <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-affaire-1">
                            <input type="checkbox" id="list-affaire-1" value="Affaire 1" class="mdl-checkbox__input" />
                          </label>
                        </span>
                      </li>
                      <li class="mdl-list__item">
                        <span class="mdl-list__item-primary-content">
                          Affaire 2
                        </span>
                        <span class="mdl-list__item-secondary-action">
                          <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-affaire-2">
                            <input type="checkbox" id="list-affaire-2" value="Affaire 2" class="mdl-checkbox__input" />
                          </label>
                        </span>
                      </li>
                      <li class="mdl-list__item">
                        <span class="mdl-list__item-primary-content">
                          Affaire 3
                        </span>
                        <span class="mdl-list__item-secondary-action">
                          <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-affaire-3">
                            <input type="checkbox" id="list-affaire-3" value="Affaire 3" class="mdl-checkbox__input" />
                          </label>
                        </span>
                      </li>
                    </ul>
                  </div>

                  <div class="mdl-custom-selectfield js-mdl-custom-selectfield js-breadcrum-target" data-breadcrum-target="session">
                      <div class="mdl-custom-selectfield--value js-mdl-custom-selectfield-value"></div>
                      <div class="mdl-custom-selectfield--label js-mdl-custom-selectfield-label">Sélectionner des session</div>
                      <ul class="mdl-list mdl-custom-selectfield--list js-mdl-custom-selectfield-list mdl-shadow--2dp hidden">
                        <li class="mdl-list__item mdl-list__item--with-search">
                          <form action="#">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label js-dropdownmenu-searchfield">
                              <input class="mdl-textfield__input" type="text" id="searchsession" autocomplete="off">
                              <label class="mdl-textfield__label" for="searchsession">search session...</label>
                            </div>
                          </form>
                        </li>
                        <li class="mdl-list__item">
                          <span class="mdl-list__item-primary-content">
                            Session 1
                          </span>
                          <span class="mdl-list__item-secondary-action">
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-session-1">
                              <input type="checkbox" id="list-session-1" value="Session 1" class="mdl-checkbox__input" />
                            </label>
                          </span>
                        </li>
                        <li class="mdl-list__item">
                          <span class="mdl-list__item-primary-content">
                            Session 2
                          </span>
                          <span class="mdl-list__item-secondary-action">
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-session-2">
                              <input type="checkbox" id="list-session-2" value="Session 2" class="mdl-checkbox__input" />
                            </label>
                          </span>
                        </li>
                        <li class="mdl-list__item">
                          <span class="mdl-list__item-primary-content">
                            Session 3
                          </span>
                          <span class="mdl-list__item-secondary-action">
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-session-3">
                              <input type="checkbox" id="list-session-3" value="Session 3" class="mdl-checkbox__input" />
                            </label>
                          </span>
                        </li>
                      </ul>
                  </div> -->
                </div>


              <div class="blk-filterbar-select-cont">
                <div class="blk-filterbar-select-items blk-filterbar-select-items--row">
                  <multiselect class="custom-vue-select blk-filterbar-select-level-1" placeholder="Faune" v-model="valueType" :options="optionsType" :clear-on-select="false" :hide-selected="true" :preserve-search="true" ></multiselect>

                  <multiselect class="custom-vue-select blk-filterbar-select-level-1" placeholder="Group" v-model="valueGroup" :options="optionsGroup" :multiple="true" :clear-on-select="false" :hide-selected="true" :preserve-search="true" ></multiselect>

                  <multiselect class="custom-vue-select blk-filterbar-select-level-1" placeholder="Protocol" v-model="valueProtocol" :options="optionsProtocol" :multiple="true" :clear-on-select="false" :hide-selected="true" :preserve-search="true" ></multiselect>
                </div>
              </div>



              <div class="blk-filterbar-select-cont">
                <div class="blk-filterbar-select-items">
                  <multiselect class="custom-vue-select blk-filterbar-select-level-1" placeholder="Faune" v-model="valueType" :options="optionsType" :clear-on-select="false" :hide-selected="true" :preserve-search="true" ></multiselect>

                  <!-- <div class="mdl-custom-selectfield js-mdl-custom-selectfield js-breadcrum-target  blk-filterbar-select-level-1 js-mdl-custom-selectfield--no-multiselect" data-breadcrum-target="niveau-1">
                    <div class="mdl-custom-selectfield--value js-mdl-custom-selectfield-value"></div>
                    <div class="mdl-custom-selectfield--label js-mdl-custom-selectfield-label">Niveau 1</div>
                    <ul class="mdl-list mdl-custom-selectfield--list js-mdl-custom-selectfield-list mdl-shadow--2dp hidden">
                      <li class="mdl-list__item active" data-no-multiselect="">
                        <span class="mdl-list__item-primary-content">
                          
                        </span>
                      </li>
                      <li class="mdl-list__item" data-no-multiselect="Faune">
                        <span class="mdl-list__item-primary-content">
                          Faune
                        </span>
                      </li>
                      <li class="mdl-list__item" data-no-multiselect="Flore">
                        <span class="mdl-list__item-primary-content">
                            Flore
                        </span>
                      </li>
                      <li class="mdl-list__item" data-no-multiselect="Habitat">
                        <span class="mdl-list__item-primary-content">
                            Habitat
                        </span>
                      </li>
                    </ul>
                  </div> -->

                </div>
                <div class="blk-filterbar-select-items">
                  <multiselect class="custom-vue-select blk-filterbar-select-level-2" placeholder="Group" v-model="valueGroup" :options="optionsGroup" :multiple="true" :clear-on-select="false" :hide-selected="true" :preserve-search="true" ></multiselect>

                  <!-- <div class="mdl-custom-selectfield js-mdl-custom-selectfield js-breadcrum-target blk-filterbar-select-level-2 js-mdl-custom-selectfield-showselected" data-breadcrum-target="niveau-2">
                    <div class="mdl-custom-selectfield--value js-mdl-custom-selectfield-value"></div>
                    <div class="mdl-custom-selectfield--label js-mdl-custom-selectfield-label">Niveau 2</div>
                    <ul class="mdl-list mdl-custom-selectfield--list js-mdl-custom-selectfield-list mdl-shadow--2dp hidden">
                        <li class="mdl-list__item mdl-list__item--with-search">
                          <form action="#">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label js-dropdownmenu-searchfield">
                              <input class="mdl-textfield__input" type="text" id="searchniveau-2" autocomplete="off">
                              <label class="mdl-textfield__label" for="searchniveau-2">search...</label>
                            </div>
                          </form>
                        </li>
                      <li class="mdl-list__item">
                        <span class="mdl-list__item-primary-content">
                          Avifaune
                        </span>
                        <span class="mdl-list__item-secondary-action">
                          <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="niveau-2-1">
                            <input type="checkbox" id="niveau-2-1" value="Avifaune" class="mdl-checkbox__input" />
                          </label>
                        </span>
                      </li>
                      <li class="mdl-list__item">
                          <span class="mdl-list__item-primary-content">
                              Amphibiens
                          </span>
                          <span class="mdl-list__item-secondary-action">
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="niveau-2-2">
                              <input type="checkbox" id="niveau-2-2" value="Amphibiens" class="mdl-checkbox__input" />
                            </label>
                          </span>
                        </li>
                        <li class="mdl-list__item">
                            <span class="mdl-list__item-primary-content">
                                Reptile
                            </span>
                            <span class="mdl-list__item-secondary-action">
                              <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="niveau-2-3">
                                <input type="checkbox" id="niveau-2-3" value="Reptile" class="mdl-checkbox__input" />
                              </label>
                            </span>
                          </li>
                    <ul>
                  </div>
                  <div class="js-chips-deletable">
                  </div> -->

                </div>
                
                <div class="blk-filterbar-select-items">
                  <multiselect class="custom-vue-select blk-filterbar-select-level-3" placeholder="Protocol" v-model="valueProtocol" :options="optionsProtocol" :multiple="true" :clear-on-select="false" :hide-selected="true" :preserve-search="true" ></multiselect>

                  <!-- <div class="mdl-custom-selectfield js-mdl-custom-selectfield js-breadcrum-target blk-filterbar-select-level-3  js-mdl-custom-selectfield-showselected" data-breadcrum-target="niveau-3">
                        <div class="mdl-custom-selectfield--value js-mdl-custom-selectfield-value"></div>
                        <div class="mdl-custom-selectfield--label js-mdl-custom-selectfield-label">Niveau 3</div>
                        <ul class="mdl-list mdl-custom-selectfield--list js-mdl-custom-selectfield-list mdl-shadow--2dp hidden">
                          <li class="mdl-list__item mdl-list__item--with-search">
                            <form action="#">
                              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label js-dropdownmenu-searchfield">
                                <input class="mdl-textfield__input" type="text" id="searchniveau-3" autocomplete="off">
                                <label class="mdl-textfield__label" for="searchniveau-3">search...</label>
                              </div>
                            </form>
                          </li>
                          <li class="mdl-list__item">
                            <span class="mdl-list__item-primary-content">
                                IPA
                            </span>
                            <span class="mdl-list__item-secondary-action">
                              <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="niveau-3-1">
                                <input type="checkbox" id="niveau-3-1" value="IPA" class="mdl-checkbox__input" />
                              </label>
                            </span>
                          </li>
                          <li class="mdl-list__item">
                              <span class="mdl-list__item-primary-content">
                                  Chiro
                              </span>
                              <span class="mdl-list__item-secondary-action">
                                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="niveau-3-2">
                                  <input type="checkbox" id="niveau-3-2" value="Chiro" class="mdl-checkbox__input" />
                                </label>
                              </span>
                            </li>
                            <li class="mdl-list__item">
                                <span class="mdl-list__item-primary-content">
                                    Rhopalo
                                </span>
                                <span class="mdl-list__item-secondary-action">
                                  <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="niveau-3-3">
                                    <input type="checkbox" id="niveau-3-3" value="Rhopalo" class="mdl-checkbox__input" />
                                  </label>
                                </span>
                              </li>
                              <li class="mdl-list__item">
                                  <span class="mdl-list__item-primary-content">
                                      Autre
                                  </span>
                                  <span class="mdl-list__item-secondary-action">
                                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="niveau-3-4">
                                      <input type="checkbox" id="niveau-3-4" value="Autre" class="mdl-checkbox__input" />
                                    </label>
                                  </span>
                                </li>
                        <ul>
                  </div>
                  <div class="mdl-custom-selectfield-chips js-chips-deletable">
                  </div> -->
                </div>

                <div class="blk-filterbar-list-cont">
                  <ul class="mdl-list">
                  
                    <li class="mdl-list__item mdl-list__item-title">
                      <span class="mdl-list__item-primary-content">
                        PROTOCOLE
                      </span>
                      <span class="mdl-list__item-secondary-action">
                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-all-1">
                          <input type="checkbox" id="list-checkbox-all-1" class="mdl-checkbox__input" />
                        </label>
                      </span>
                    </li>

                    <li class="mdl-list__item mdl-list__item-items">
                      <ul class="mdl-list">
                        <li class="mdl-list__item">
                          <span class="mdl-list__item-primary-content">
                            Observateur
                          </span>
                          <span class="mdl-list__item-secondary-action">
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-1">
                              <input type="checkbox" id="list-checkbox-1" class="mdl-checkbox__input" />
                            </label>
                          </span>
                        </li>
                        <li class="mdl-list__item">
                          <span class="mdl-list__item-primary-content">
                            Date
                          </span>
                          <span class="mdl-list__item-secondary-action">
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-2">
                              <input type="checkbox" id="list-checkbox-2" class="mdl-checkbox__input" />
                            </label>
                          </span>
                        </li>
                        <li class="mdl-list__item">
                          <span class="mdl-list__item-primary-content">
                            Ciel
                          </span>
                          <span class="mdl-list__item-secondary-action">
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-3">
                              <input type="checkbox" id="list-checkbox-3" class="mdl-checkbox__input" />
                            </label>
                          </span>
                        </li>
                        <li class="mdl-list__item">
                          <span class="mdl-list__item-primary-content">
                            Température
                          </span>
                          <span class="mdl-list__item-secondary-action">
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-4">
                              <input type="checkbox" id="list-checkbox-4" class="mdl-checkbox__input" />
                            </label>
                          </span>
                        </li>
                      </ul>
                    </li>




                  </ul>
                  <ul class="mdl-list">
                  
                    <li class="mdl-list__item mdl-list__item-title">
                      <span class="mdl-list__item-primary-content">
                        ESPECE
                      </span>
                      <span class="mdl-list__item-secondary-action">
                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-all-2">
                          <input type="checkbox" id="list-checkbox-all-2" class="mdl-checkbox__input" />
                        </label>
                      </span>
                    </li>
                    <li class="mdl-list__item mdl-list__item-items">
                      <ul class="mdl-list">
                        <li class="mdl-list__item">
                          <span class="mdl-list__item-primary-content">
                            Absence de données
                          </span>
                          <span class="mdl-list__item-secondary-action">
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-5">
                              <input type="checkbox" id="list-checkbox-5" class="mdl-checkbox__input" />
                            </label>
                          </span>
                        </li>
                        <li class="mdl-list__item">
                          <span class="mdl-list__item-primary-content">
                            Nom vernaculaire
                          </span>
                          <span class="mdl-list__item-secondary-action">
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-6">
                              <input type="checkbox" id="list-checkbox-6" class="mdl-checkbox__input" />
                            </label>
                          </span>
                        </li>
                        <li class="mdl-list__item">
                          <span class="mdl-list__item-primary-content">
                            Nom scientifique
                          </span>
                          <span class="mdl-list__item-secondary-action">
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-7">
                              <input type="checkbox" id="list-checkbox-7" class="mdl-checkbox__input" />
                            </label>
                          </span>
                        </li>
                        <li class="mdl-list__item">
                          <span class="mdl-list__item-primary-content">
                            Doute
                          </span>
                          <span class="mdl-list__item-secondary-action">
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-8">
                              <input type="checkbox" id="list-checkbox-8" class="mdl-checkbox__input" />
                            </label>
                          </span>
                        </li>
                        <li class="mdl-list__item">
                          <span class="mdl-list__item-primary-content">
                            Nombre de couple
                          </span>
                          <span class="mdl-list__item-secondary-action">
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-9">
                              <input type="checkbox" id="list-checkbox-9" class="mdl-checkbox__input" />
                            </label>
                          </span>
                        </li>
                        <li class="mdl-list__item">
                          <span class="mdl-list__item-primary-content">
                            Comportement
                          </span>
                          <span class="mdl-list__item-secondary-action">
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-10">
                              <input type="checkbox" id="list-checkbox-10" class="mdl-checkbox__input" />
                            </label>
                          </span>
                        </li>
                      </ul>
                    </li>
                  </ul>

                  
                  <ul class="mdl-list">
                  
                    <li class="mdl-list__item mdl-list__item-title">
                      <span class="mdl-list__item-primary-content">
                        STATUT
                      </span>
                      <span class="mdl-list__item-secondary-action">
                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-all-3">
                          <input type="checkbox" id="list-checkbox-all-3" class="mdl-checkbox__input" />
                        </label>
                      </span>
                    </li>
                    <li class="mdl-list__item mdl-list__item-items">
                      <ul class="mdl-list">
                        <li class="mdl-list__item">
                          <span class="mdl-list__item-primary-content">
                            Protection nationale
                          </span>
                          <span class="mdl-list__item-secondary-action">
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-11">
                              <input type="checkbox" id="list-checkbox-11" class="mdl-checkbox__input" />
                            </label>
                          </span>
                        </li>
                        <li class="mdl-list__item">
                          <span class="mdl-list__item-primary-content">
                            Liste rouge France
                          </span>
                          <span class="mdl-list__item-secondary-action">
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-12">
                              <input type="checkbox" id="list-checkbox-12" class="mdl-checkbox__input" />
                            </label>
                          </span>
                        </li>
                        <li class="mdl-list__item">
                          <span class="mdl-list__item-primary-content">
                            Liste rouge régionale
                          </span>
                          <span class="mdl-list__item-secondary-action">
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-13">
                              <input type="checkbox" id="list-checkbox-13" class="mdl-checkbox__input" />
                            </label>
                          </span>
                        </li>
                        <li class="mdl-list__item">
                          <span class="mdl-list__item-primary-content">
                            ZNIEFF
                          </span>
                          <span class="mdl-list__item-secondary-action">
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-14">
                              <input type="checkbox" id="list-checkbox-14" class="mdl-checkbox__input" />
                            </label>
                          </span>
                        </li>
                        <li class="mdl-list__item">
                          <span class="mdl-list__item-primary-content">
                            Intérêt communautaire
                          </span>
                          <span class="mdl-list__item-secondary-action">
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-15">
                              <input type="checkbox" id="list-checkbox-15" class="mdl-checkbox__input" />
                            </label>
                          </span>
                        </li>
                      </ul>
                    </li>

                  </ul>
                </div>
                <div class="blk-filterbar-submit">
                  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect js-toogle-filter js-generate-datatable" type="button">
                    Valider
                  </button>
                </div>
                </div>
          </div>
              
          <table id="example" class="display hidden" width="100%">
                  <thead class="footer-row-search ">
                      <tr>
                          <th class="js-filter-def"><span>Name</span></th>
                          <th class="js-filter-def"><span>Position</span></th>
                          <th class="js-filter-def"><span>Office</span></th>
                          <th class="js-filter-def"><span>Extn.</span></th>
                          <th class="js-filter-def js-col-date"><span>Start date</span></th>
                          <th class="js-filter-def js-col-currency"><span>Salary</span></th>
                      </tr>
                      <tr class="js-row-search">
                          <th class="js-filter-def">Name</th>
                          <th class="js-filter-def">Position</th>
                          <th class="js-filter-def">Office</th>
                          <th class="js-filter-def js-filter-num">Extn.</th>
                          <th class="js-filter-def js-col-date">Start date</th>
                          <th class="js-filter-def">Salary</th>
                      </tr>
                  </thead>
                  <tfoot class="footer-total-count js-total-count">
                      <tr>
                          <th>-</th>
                          <th>-</th>
                          <th>-</th>
                          <td class="js-total-num">-</td>
                          <th>-</th>
                          <td class="js-total-currency">-</td>
                      </tr>
                  </tfoot>
                  <tbody>
                      <tr role="row" class="odd" data-media="true">
                          <td class="sorting_1">Airi Satou</td>
                          <td>Accountant</td>
                          <td>Tokyo</td>
                          <td>0</td>
                          <td>2018/11/28</td>
                          <td>$162,700</td>
                      </tr>
                      <tr role="row" class="even">
                          <td class="sorting_1">Angelica Ramos</td>
                          <td>Chief Executive Officer (CEO)</td>
                          <td>London</td>
                          <td>5797</td>
                          <td>2018/10/09</td>
                          <td>$1,200,000</td>
                      </tr>
                      <tr role="row" class="odd">
                          <td class="sorting_1">Ashton Cox</td>
                          <td>Junior Technical Author</td>
                          <td>San Francisco</td>
                          <td>1562</td>
                          <td>2018/01/12</td>
                          <td>$86,000</td>
                      </tr>
                      <tr role="row" class="even">
                          <td class="sorting_1">Bradley Greer</td>
                          <td>Software Engineer</td>
                          <td>London</td>
                          <td>2558</td>
                          <td>2018/10/13</td>
                          <td>$132,000</td>
                      </tr>
                      <tr role="row" class="odd" data-media="true">
                          <td class="sorting_1">Brenden Wagner</td>
                          <td>Software Engineer</td>
                          <td>San Francisco</td>
                          <td>1314</td>
                          <td>2017/06/07</td>
                          <td>$206,850</td>
                      </tr>
                      <tr role="row" class="even">
                          <td class="sorting_1">Brielle Williamson</td>
                          <td>Integration Specialist</td>
                          <td>New York</td>
                          <td>4804</td>
                          <td>2018/12/02</td>
                          <td>$372,000</td>
                      </tr>
                      <tr role="row" class="odd">
                          <td class="sorting_1">Caesar Vance</td>
                          <td>Pre-Sales Support</td>
                          <td>New York</td>
                          <td>8330</td>
                          <td>2017/12/12</td>
                          <td>$106,450</td>
                      </tr>
                      <tr role="row" class="even">
                          <td class="sorting_1">Cedric Kelly</td>
                          <td>Senior Javascript Developer</td>
                          <td>Edinburgh</td>
                          <td>6224</td>
                          <td>2018/03/29</td>
                          <td>$433,060</td>
                      </tr>
                      <tr role="row" class="odd">
                          <td class="sorting_1">Charde Marshall</td>
                          <td>Regional Director</td>
                          <td>San Francisco</td>
                          <td>6741</td>
                          <td>2018/10/16</td>
                          <td>$470,600</td>
                      </tr>
                      <tr role="row" class="even">
                          <td class="sorting_1">Colleen Hurst</td>
                          <td>Javascript Developer</td>
                          <td>San Francisco</td>
                          <td>2360</td>
                          <td>2018/09/15</td>
                          <td>$205,500</td>
                      </tr>
                      <tr role="row" class="odd">
                          <td class="sorting_1">Dai Rios</td>
                          <td>Personnel Lead</td>
                          <td>Edinburgh</td>
                          <td>2290</td>
                          <td>2018/09/26</td>
                          <td>$217,500</td>
                      </tr>
                      <tr role="row" class="even">
                          <td class="sorting_1">Doris Wilder</td>
                          <td>Sales Assistant</td>
                          <td>Sidney</td>
                          <td>3023</td>
                          <td>2010/09/20</td>
                          <td>$85,600</td>
                      </tr>
                      <tr role="row" class="odd">
                          <td class="sorting_1">Fiona Green</td>
                          <td>Chief Operating Officer (COO)</td>
                          <td>San Francisco</td>
                          <td>2947</td>
                          <td>2010/03/11</td>
                          <td>$850,000</td>
                      </tr>
                      <tr role="row" class="even">
                          <td class="sorting_1">Garrett Winters</td>
                          <td>Accountant</td>
                          <td>Tokyo</td>
                          <td>8422</td>
                          <td>2017/07/25</td>
                          <td>$170,750</td>
                      </tr>
                      <tr role="row" class="odd">
                          <td class="sorting_1">Gavin Cortez</td>
                          <td>Team Leader</td>
                          <td>San Francisco</td>
                          <td>2860</td>
                          <td>2018/10/26</td>
                          <td>$235,500</td>
                      </tr>
                      <tr role="row" class="even">
                          <td class="sorting_1">Gavin Joyce</td>
                          <td>Developer</td>
                          <td>Edinburgh</td>
                          <td>8822</td>
                          <td>2010/12/22</td>
                          <td>$92,575</td>
                      </tr>
                      <tr role="row" class="odd">
                          <td class="sorting_1">Gloria Little</td>
                          <td>Systems Administrator</td>
                          <td>New York</td>
                          <td>1721</td>
                          <td>2018/04/10</td>
                          <td>$237,500</td>
                      </tr>
                      <tr role="row" class="even">
                          <td class="sorting_1">Haley Kennedy</td>
                          <td>Senior Marketing Designer</td>
                          <td>London</td>
                          <td>3597</td>
                          <td>2018/12/18</td>
                          <td>$313,500</td>
                      </tr>
                      <tr role="row" class="odd">
                          <td class="sorting_1">Herrod Chandler</td>
                          <td>Sales Assistant</td>
                          <td>San Francisco</td>
                          <td>9608</td>
                          <td>2018/08/06</td>
                          <td>$137,500</td>
                      </tr>
                      <tr role="row" class="even">
                          <td class="sorting_1">Jena Gaines</td>
                          <td>Office Manager</td>
                          <td>London</td>
                          <td>3814</td>
                          <td>2018/12/19</td>
                          <td>$90,560</td>
                      </tr>
                  </tbody>
          </table>
              
        </div>

        <div class="mdl-layout__drawer mdl-custom-datatable-drawer js-datatable-drawer">
          <div class="mdl-cell mdl-cell--12-col">
              <div id="accordion">
              <a href="#firstBlk" class="first active">Photos (XX)</a>
              <div id="firstBlk">
                <div class="sliderCont">
                  <div class="slick js-small-slick">
                    <div>
                      <img src="img/slider/bird/img-1.jpg" width="1366" height="768" />
                    </div>
                    <div>
                      <img src="img/slider/bird/img-2.jpg" width="1366" height="768" />
                    </div>
                  </div>
                  <span class="zoom"><i class="icon-expand"></i></span>
                </div>
              </div>

              <a href="#secondBlk">Enregistrements (XX)</a>
              <div id="secondBlk">
                <div class="musicList">
                  <form action="javascript:;">
                    <div>
                      <label>Votre enregistrement:</label>
                      <select id="musicList">
                        <option value="" data-url="">Selectioner votre enregistrement</option>
                        <option value="1" data-url="http://localhost/atoutlibre_ecologue_html/source/sounds/bird/bird.mp3">Music 1</option>
                        <option value="2" data-url="http://localhost/atoutlibre_ecologue_html/source/sounds/bird/bird-2.mp3">Music 2</option>
                      </select>
                    </div>
                  </form>
                  <div id="player" class="jp-jplayer"></div>
                  <div id="jp_container_1" class="jp-audio" role="application" aria-label="media player">
                    <div class="jp-type-single">
                      <div class="jp-gui jp-interface">
                        <div class="jp-volume-controls">
                          <button class="jp-mute" role="button" tabindex="0">mute</button>
                          <button class="jp-volume-max" role="button" tabindex="0">max volume</button>
                          <div class="jp-volume-bar">
                            <div class="jp-volume-bar-value"></div>
                          </div>
                        </div>
                        <div class="jp-controls-holder">
                          <div class="jp-controls">
                            <button class="jp-play" role="button" tabindex="0">play</button>
                            <button class="jp-stop" role="button" tabindex="0">stop</button>
                          </div>
                          <div class="jp-progress">
                            <div class="jp-seek-bar">
                              <div class="jp-play-bar"></div>
                            </div>
                          </div>
                          <div class="jp-current-time" role="timer" aria-label="time">&nbsp;</div>
                          <div class="jp-duration" role="timer" aria-label="duration">&nbsp;</div>
                        </div>
                      </div>
                      <div class="jp-details">
                        <div class="jp-title" aria-label="title">&nbsp;</div>
                      </div>
                      <div class="jp-no-solution">
                        <span>Update Required</span>
                        To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <a href="#thirdBlk">Autre Blocks</a>
              <div id="thirdBlk">
                Other info
              </div>
              </div>
          </div>
        </div>

      </div>
    </div>
  </div>


</div>


<div id="layerSlider" class="layer">
  <div>
    <header>
      <span class="closeLayer icon-close"></span>
    </header>
    <div class="sliderCont">
      <div class="slick js-slick-main">
        <div>
          <img src="img/slider/bird/img-1.jpg" width="1366" height="768">
        </div>
        <div>
          <img src="img/slider/bird/img-2.jpg" width="1366" height="768">
        </div>
        <div>
          <img src="img/slider/bird/img-1.jpg" width="1366" height="768">
        </div>
        <div>
          <img src="img/slider/bird/img-2.jpg" width="1366" height="768">
        </div>
        <div>
          <img src="img/slider/bird/img-1.jpg" width="1366" height="768">
        </div>
        <div>
          <img src="img/slider/bird/img-2.jpg" width="1366" height="768">
        </div>
        <div>
          <img src="img/slider/bird/img-1.jpg" width="1366" height="768">
        </div>
        <div>
          <img src="img/slider/bird/img-2.jpg" width="1366" height="768">
        </div>
      </div>
      <div class="slick js-slick-thumbs">
      <div>
        <img src="img/slider/bird/img-1.jpg" width="1366" height="768">
      </div>
      <div>
        <img src="img/slider/bird/img-2.jpg" width="1366" height="768">
      </div>
      <div>
        <img src="img/slider/bird/img-1.jpg" width="1366" height="768">
      </div>
      <div>
        <img src="img/slider/bird/img-2.jpg" width="1366" height="768">
      </div>
      <div>
        <img src="img/slider/bird/img-1.jpg" width="1366" height="768">
      </div>
      <div>
        <img src="img/slider/bird/img-2.jpg" width="1366" height="768">
      </div>
      <div>
        <img src="img/slider/bird/img-1.jpg" width="1366" height="768">
      </div>
      <div>
        <img src="img/slider/bird/img-2.jpg" width="1366" height="768">
      </div>
    </div>
    </div>
  </div>
</div>


<div class="pg-loader hidden">
  <div class="mdl-spinner mdl-js-spinner is-active js-loader"></div>
</div>

<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/material.js"></script>
<script type="text/javascript" src="js/mdl-selectfield.min.js"></script>

<script type="text/javascript" src="js/datatable/datatables.js"></script>
<script type="text/javascript" src="js/datatable/jquery-ui/jquery-ui.js"></script>
<script type="text/javascript" src="js/datatable/pdfmake-0.1.32/pdfmake.js"></script>
<script type="text/javascript" src="js/datatable/pdfmake-0.1.32/vfs_fonts.js"></script>
<script type="text/javascript" src="js/datatable/Buttons-1.5.1/js/buttons.print.js"></script>
<script type="text/javascript" src="js/datatable/Buttons-1.5.1/js/buttons.html5.js"></script>
<script type="text/javascript" src="js/datatable/Buttons-1.5.1/js/buttons.flash.js"></script>

<script type="text/javascript" src="js/jstree.min.js"></script>

<script type="text/javascript" src="js/jplayer/jplayer.js"></script>
<script type="text/javascript" src="js/slick.js"></script>
<script type="text/javascript" src="js/treeview.js"></script>
<script type="text/javascript" src="js/common.js"></script>

<script type="text/javascript" src="js/main.js"></script>
<script type="text/javascript" src="js/search.js"></script>

</body>
</html>